<div class="mymusic-application-header">
  {{#link-to 'index'}}<img src="/logo.svg" height="100">{{/link-to}}
  <sup><span class="label label-success">1700</span></sup>
    <span class="mymusic-application-buttons">
    {{#if session.isWorking}}
      Signing in...
    {{else}}
      {{#if session.isAuthenticated}}
         {{#link-to 'albums.new' class="pure-button mymusic-application-newAlbumButton"}}New album{{/link-to}}
         <button type="button" class="pure-button pure-button-primary" {{action "logout"}}>Log out</button>
      {{else}}
        <a class="pure-button mymusic-application-facebookLogin" {{action 'login'}}>
          <span class="fa fa-facebook"></span>
          Log In
        </a>
      {{/if}}
    {{/if}}
    </span>
</div>
{{outlet}}
