<hr>
<div class="form-group">
  <label class="col-sm-2 control-label">Location</label>
  <div class="col-sm-9">
    <select class="form-control" onchange={{action (mut source.location) value="target.value"}}>
      {{#each locations key="@index" as |item|}}
        <option value="{{item.id}}" selected={{eq item.id source.location}}>
          {{item.label}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-default" {{action 'deleteSource'}}>×</button>
  </div>
</div>
{{#if isFoobar}}
<div class="form-group">
  <label class="col-sm-2 control-label">Accurate rip</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.accurate_rip}}
  </div>
</div>
{{/if}}
<div class="form-group">
  <label class="col-sm-2 control-label">Comments</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.comments}}
  </div>
</div>
{{#if isFoobar}}
<div class="form-group">
  <label class="col-sm-2 control-label">Cue issues</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.cue_issues}}
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Discs</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.discs}}
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Download</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.download}}
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Edition</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.edition}}
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label">Format</label>
  <div class="col-sm-10">
    <select class="form-control" onchange={{action (mut source.format) value="target.value"}}>
      {{#each formats key="@index" as |item|}}
        <option value="{{item.id}}" selected={{eq item.id source.format}}>
          {{item.label}}
        </option>
      {{/each}}
    </select>
  </div>
</div>
{{/if}}
<div class="form-group">
  <label class="col-sm-2 control-label">MBID</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.mbid}}
  </div>
</div>
{{#if isNotSpotify}}
<div class="form-group">
  <label class="col-sm-2 control-label">Tag issues</label>
  <div class="col-sm-10">
    {{input class="form-control" value=source.tag_issues}}
  </div>
</div>
{{/if}}
