<form class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <label for="titleField" class="col-sm-2 control-label">Title</label>
      {{input id="titleField" placeholder="Title" value=model.title}}
    </div>
    <div class="pure-control-group">
      <label for="artistField" class="col-sm-2 control-label">Artist</label>
      <div class="col-sm-10">
        {{input id="artistField" placeholder="Title" value=model.artist}}
      </div>
    </div>
    <div class="pure-control-group">
      <label for="yearField" class="col-sm-2 control-label">Year</label>
      <div class="col-sm-10">
        {{input id="yearField" placeholder="Year" value=model.year}}
      </div>
    </div>
    <div class="pure-control-group">
      <label for="commentsField" class="col-sm-2 control-label">Comments</label>
      <div class="col-sm-10">
        {{input id="commentsField" placeholder="Comments" value=model.comments}}
      </div>
    </div>
    <div class="pure-control-group">
      <label class="col-sm-2 control-label">First played</label>
      <div class="radio col-sm-10">
        <label>
          {{radio-button value="timestamp" checked=firstPlayedMode}}
          Timestamp
        </label>
      </div>
    </div>
    <div class="pure-control-group">
      <div class="radio col-sm-offset-2 col-sm-10">
        <label>
          {{radio-button value="date" checked=firstPlayedMode}}
          At a specific date
        </label>
      </div>
    </div>
    <div class="pure-control-group">
      <div class="radio col-sm-offset-2 col-sm-10">
        <label>
          {{radio-button value="unknown" checked=firstPlayedMode}}
          Unknown
        </label>
      </div>
    </div>
    {{#if isSpecificDate}}
    <div class="pure-control-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="row">
          <div class="col-xs-4" style="width: 150px">{{input placeholder="Year" value=firstPlayedYear}}</div>
          <div class="col-xs-2" style="width: 100px">{{input placeholder="Month" value=firstPlayedMonth}}</div>
          <div class="col-xs-2" style="width: 100px">{{input placeholder="Day" value=firstPlayedDay}}</div>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if isSpecificTime}}
    <div class="pure-control-group">
      <div class="col-sm-offset-2 col-sm-10">
        {{input placeholder="Timestamp" value=timestamp}}
      </div>
    </div>
    {{/if}}

    {{#each model.sources as |source|}}
      {{album-edit-source source=source sources=model.sources}}
    {{/each}}

    <div class="pure-control-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-default" {{action 'addSource'}}>Add Source</button>
        <button type="button" class="btn btn-default" {{action 'save'}}>Save</button>
      </div>
    </div>
  </fieldset>
</form>
